<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOSTEL MANGEMENT SYSTEM</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename = '/Check(in-out).css')}}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <center><b>{{message}}</b><center>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body >
    <a href="{{url_for('index')}}"><button>Back</button></a>
    <table>
        <tr>
            <td>
                <!--HTML form for crud operation-->
                <form>
                
                <div>
                    <label for="empCode">Student-Id</label>
                    <select name="Studentname">
                        {% for i in data %}
                        <option>{{i[0]}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="submit">
                </div>
            </form>
                
                <form autocomplete="off"  method="POST">
                    <div>
                        <label for="fullName">id</label>
                        <input type="text"  name="id" id="id" value="{{data1}}" readonly>
                    </div>
                    <div>
                        <label for="fullName">name</label>
                        <input type="text" name="name"  value="{{details[1]}}" readonly>
                    </div>
                    <div>
                        <label for="fullName">Course</label>
                        <input type="text" name="Course"  value="{{details[2]}}" readonly>
                    </div>
                    <div>
                        <label for="fullName">Roomno</label>
                        <input type="text" name="Roomno"  value="{{details[3]}}" readonly>
                    </div>
                    <div>
                        <label for="salary">Mobileno</label>
                        <input type="text" name="Mobileno" id="salary" value="{{details[4]}}" readonly>
                    </div>
                        <button type="submit">submit</button>
                </form>
            </td>
            <td>
                <table class="list" id="employeeList">
                    <thead>
                        <tr>
                        
                            <th>id</th>
                            <th>name</th>
                            <th>Course</th>
                            <th>Roomno</th>
                            <th>Mobileno</th>
                            <th>Checkin</th>
                            <th>Checkout</th>
                            <td>date</td>
                
                           
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                      {% for i in records %}
                      <tr>
                          <td>{{i[1]}}</td>
                          <td>{{i[2]}}</td>
                          <td>{{i[4]}}</td>
                          <td>{{i[3]}}</td>
                          <td>{{i[5]}}</td>
                    
                            {% if i[6]!=None %}
                                <td>{{i[6]}}</td>
                            {% else %}
                            <td><a href='{{url_for("checkinupdate",date=i[0],id1=i[1])}}'>{{i[6]}}</td></a>
                            {% endif %}
                            {% if i[7]!=None %}
                                  <td>{{i[7]}}</td>
                            {% else %}
                            <td><a href='{{url_for("checkoutupdate",date=i[0],id1=i[1])}}'>{{i[7]}}</td></a>
                            {% endif %}
                           <td>{{i[0]}}</td>
                      </tr> 
                    {% endfor %}

                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>